body{
    background-color: #333;
    color: white;
    font-family: 'Barlow', sans-serif;
}

a{
    color: #df4650;
}

a:hover{
    text-decoration: none;
    color: #fa303d;
}

h1, h3, h4{
    color: #acacac;
}

.col-4, .col-7, .col-8, .col-12, .col-6{
    box-shadow: 5px 5px 60px 0px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo{
    width: 50px;
    height: 50px;
}

.dwl:focus, .dwl:hover ~ .comment{
    color: orange;
}

.dwl{
    background: url('pdf.jpg');
    width: 50px!important;
    height: 50px;
    border-radius: 0;
    transition: all 1s;
}

.dwl:hover{
    border-radius: 50%;
    transform: scale(1.2);
}

.cbox1 img{
    transition: all 1s ease-in-out;
    width: 40px;
    height: 40px;
}

.cbox1:hover img{
    animation: glisse 5s infinite alternate;
}

@keyframes glisse{
    0% {
        transform: translate(0);
    }
    
    100% {
        transform: translate(15vw);
        scale: 2;
    }
    
}